* {
    margin: 0;
    padding: 0;
}
main {
    background-color: black;
    position: relative;
    width: 100%;
    height: 650px;
    margin: 50px auto;
    background: linear-gradient(to left, black,rgb(0, 0, 0, 90%),rgba(255, 165, 0, 90%));
}
.sun {
    position: absolute;
    width: 420px;
    left: -185px;
}
.mercury {
    position: absolute;
    width: 130px;
    left: 90px;
    top: 400px;
}
.venus {
    position: absolute;
    width: 90px;
    left: 400px;
    top: 10px;
}
.earth {
    position: absolute;
    width: 110px;
    left: 250px;
    top: 120px;
}
.mars {
    position: absolute;
    width: 50px;
    left: 250px;
    top: 480px;
}
.jupiter {
    position: absolute;
    width: 35px;
    left: 630px;
    top: 520px;
}
.saturn {
    position: absolute;
    width: 210px;
    left: 380px;
    top: 220px;
}
.uranus {
    position: absolute;
    width: 20px;
    left: 50px;
    top: 400px;
}
.neptune {
    position: absolute;
    width: 70px;
    left: 180px;
    top: 60px;
}
header {
    height: 40px;
    width: 100%;
    background-color: blue;
    color: white;
    font-size: 20px;
    word-spacing: 20px;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    position: absolute;
    top: 0;
}